header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

button{
    width: 10%;
    margin-top: 10px;
    margin-left: 60%;
    align-self: flex-end;
}

#sketchpad{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border:1px solid black;
    display: grid;
    grid-template-columns: repeat(16, calc(500px/16));
    grid-template-columns: repeat(16, calc(500px/16));
}

.sketchspace{
    background-color: antiquewhite;
    height:calc(500px/16);
    width: calc(500px/16);
    display:inline;
}

.blackspace{
    background-color: black;
}