header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

section{
    display:flex;
    justify-content: space-between;
    margin-top: 5%;
}

button{
    width: 50px;   
}

#sketchpad{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border:1px solid black;
    display: grid;
    grid-template-columns: repeat(16, calc(500px/16));
    grid-template-columns: repeat(16, calc(500px/16));
}

.sketchspace{
    background-color: white;
    height:calc(500px/16);
    width: calc(500px/16);
    display:inline;
}

.blackspace{
    background-color: black;
}